.new-tweet {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 2rem 0 2rem 8rem;
  width: 60%;
  display: flex;
}

#tweet-text {
  /* padding-top: 0.1em; */
  padding: 0.1rem;
  display: block;
  height: 5rem;
  width: 100%;
  background-color: #797e81;
  border: none;
  border-bottom: 0.1em solid #545149;
  outline: none;
  resize: none;
}
input,
select,
textarea {
  color: #ffffff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #4056a1;
  font-weight: 600;
}

.tweet-info {
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  /* margin: 1rem; */
  margin-right: 2rem;
  color: #ffff;
  background-color: #4056a1;
  border-radius: 15%;
}

.tweet-button:hover {
  color: black;
}
.counter {
  margin-left: 13.8rem;
}

.tweetFooter {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

/* style the tweet  */

.tweet {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding: 1rem 2rem;
  border: 0.1rem solid #545149;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  margin-left: 12rem;
  background-color: #4056a1;
  color: white;
}

.margin {
  margin-left: -1.2rem;
}
.tweet:hover {
  box-shadow: 0 0 0.5rem 0.1rem #545149;
}
.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  margin-top: 0;
}

.tweet-header img {
  width: 2rem;
  height: 2rem;
  margin-right: 0;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: white;
  border-radius: 100%;
}

.tweet-body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  overflow-wrap: break-word;
}

.tweet-body p {
  width: 500px;
}

.time {
  font-size: 0.8rem;
  font-weight: 800;
  color: #797e81;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 230px;
  margin-right: -2rem;
}
.name {
  margin-right: 9rem;
  display: flex;
  flex-direction: column;
  width: 230px;
}

.name h4 {
  margin-bottom: 0;
  width: 250px;
  float: left;
}

.name p {
  font-size: 0.8rem;
  color: #2c2323;
  margin: 0;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
}

.tweet-footer i {
  background-color: transparent;
  color: #11235d;
}

.tweet-footer i:hover {
  color: #953121;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-footer i {
  font-size: 1.2rem;
  color: #545149;
  margin-right: 1rem;
}

.tweet-footer i:hover {
  color: #2e10c7;
}
.tweet-footer .fa-retweet:hover {
  color: green;
}

.tweet-footer .fa-heart:hover {
  color: red;
}
.tweet-footer {
  width: 450px;
  border-top: #9d9fa5 solid 0.14rem;
}
.icons {
  margin-left: auto;
}
.time {
  margin-right: auto;
}
/* ----ERROR BUTTON STYLING---- */
.error-button {
  align-items: center;
  background-color: red;
  border: 2px solid #5d111a;
  border-radius: 3px;
  box-shadow: 7px 9px #584f4f;
  box-sizing: border-box;
  color: #11235d;
  cursor: pointer;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;

  text-shadow: 3px 3px black;
  color: white;
  font-size: 20px;
  height: 55px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* ---- RESPONSIVE STYLING ---- */

/* ---- desktop ---- */
@media only screen and (min-width: 1024px) {
  .mainHeader {
    height: 17rem;
    width: 50%;
    margin-left: 4rem;
    margin-top: 12rem;
  }
  .container {
    margin-top: 5rem;
    display: flex;
    justify-items: center;
  }
  .new-tweet {
    margin-right: 9.2rem;
    margin-top: 6.9rem;
    width: 50%;
  }
  .tweet-button {
    font-size: 1.7rem;
  }

  .tweet {
    width: 100%;
    margin-left: 0;
  }
  .tweet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    margin-top: 0;
  }

  body {
    display: flex;
    flex-direction: row;
  }
}

/* ---- tablet ---- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mainHeader {
    height: 17rem;
    width: 100%;
  }
  .navWrite {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
  }
  .navWrite i {
    margin-left: 4rem;
  }
  .new-tweet {
    width: 80%;
  }

  .tweetContainer {
    margin-right: 8rem;
  }
  .tweet {
    width: 75%;
    margin-left: 14rem;
  }
  .tweet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    margin-top: 0;
  }

  .tweet-button {
    font-size: 1.4rem;
  }
  .counter {
    display: flex;
    justify-content: flex-end;
  }

  .time {
    margin-right: -5rem;
  }
}

/* ---- mobile ---- */
@media only screen and (max-width: 767px) {
  .mainHeader {
    height: 17rem;
    width: 100%;
  }
  .navWrite {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
  }
  .navWrite i {
    margin-left: 1rem;
  }
  .new-tweet {
    width: 105%;
    margin-left: 3rem;
  }

  .tweetContainer {
    margin-right: 8rem;
  }
  .tweet {
    width: 75%;
    margin-left: 10.8rem;
  }
  .tweet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    margin-top: 0;
  }

  .time {
    margin-right: -7rem;
  }

  .tweet-button {
    font-size: 1.4rem;
  }
  .counter {
    display: flex;
    justify-content: flex-end;
    margin-left: 1rem;
  }
}
