.new-tweet {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-bottom: 1em;
  margin-left: 7rem;
}

#tweet-text {
  /* padding-top: 0.1em; */
  padding: 0.1rem ;
  display: block;
  height: 5rem;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 0.1em solid #545149;
  outline: none;
  resize: none;
}

.tweet-info {
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  /* margin: 1rem; */
  margin-right: 2rem;
  color: #ffff;
  background-color: #1ea1f2;
}

.tweet-button:hover {
  background-color: #0199f8;
}
.counter {
  margin-left: 5rem;
}

.tweetFooter {
  margin-top: 1rem;
}
