.new-tweet {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-bottom: 1em;
  margin-left: 7rem;
  width: 60%;
}

#tweet-text {
  /* padding-top: 0.1em; */
  padding: 0.1rem;
  display: block;
  height: 5rem;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 0.1em solid #545149;
  outline: none;
  resize: none;
}

.tweet-info {
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  /* margin: 1rem; */
  margin-right: 2rem;
  color: #ffff;
  background-color: #1ea1f2;
}

.tweet-button:hover {
  background-color: #0199f8;
  color: black;
}
.counter {
  margin-left: 23.5rem;
}

.tweetFooter {
  margin-top: 1rem;
}

/* style the tweet  */
.tweetContainer{
  margin-top: 2rem;
}
.tweet {
  display: flex;
  flex-direction: column;
  width: 62%;
  margin: auto;
  padding: 1rem 5rem;
  border: 0.1rem solid #545149;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  margin-left: 13.5rem;
}
.tweet:hover {
  box-shadow: 0 0 0.5rem 0.1rem #545149;
}
.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  margin-top: 0;
}

.tweet-header img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  font-size: 2rem;
}

.tweet-body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.handle p {
  font-size: 0.8rem;
  color: #545149;
  justify-content: flex-end;
  
}

.name p {
  font-size: 0.8rem;
  color: #2c2323;
  margin: 0;
  display: flex;
  justify-content: center;
}
.name h2 {
  font-size: 2rem;
  color: black;
  margin: 0 2rem;
}

.tweet-footer i:hover {
  color: #953121;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-footer p {
  font-size: 0.8rem;
  color: #545149;
  margin: 0;
}

.tweet-footer i {
  font-size: 1.2rem;
  color: #545149;
  margin-right: 1rem;
}

.tweet-footer i:hover {
  color: #2e10c7;
}
.tweet-footer .fa-retweet:hover {
  color: green;
}

.tweet-footer .fa-heart:hover {
  color: red;
}